*.lo
*.o
.deps
.libs
*.gcda
*.gcno
*~

Makefile.in
Makefile
!manual/Makefile
libtool
sl6-config
stamp-h1
aclocal.m4
aminclude.am
autom4te.cache
build-aux
.license.stamp

_configs.sed
config.log
config.status
config_queso.h
config_queso.h.tmp
config_queso.h.tmp.in
config_queso.h.tmp.in~
configure

doxygen/txt_common/about_vpath.page
doxygen/queso.dox
docs

examples/exInfoTheory_gsl
examples/exSimpleStatisticalInverseProblem_gsl
examples/exStatisticalForwardProblem_gsl
examples/exStatisticalInverseProblem_gsl
examples/exTgaValidationCycle_gsl
examples/gravity_gsl
examples/tga2_gsl
examples/gaussian_random_field
examples/gaussian_random_field_genmesh
examples/infinite_dim/inverse_options
examples/infinite_dim/parallel_inverse_options
examples/inverse_problem
examples/operator
examples/parallel_inverse_problem
examples/gpmsa_scalar

src/core/inc/queso.h
src/libqueso.la
src/queso_version

inc/queso/*.h

test/gsl_tests/get_min_max_vec
test/gsl_tests/get_set_row_column
test/gsl_tests/input
test/gsl_tests/inverse_power_method
test/gsl_tests/multiple_rhs_matrix_solve
test/gsl_tests/outputData/
test/gsl_tests/power_method
test/gslvector_out_sub0.m
test/t01_valid_cycle/TgaValidationCycle_gsl
test/t01_valid_cycle/outputData/
test/t02_sip_sfp/SipSfpExample_gsl
test/t02_sip_sfp/outputData/
test/t03_sequence/SequenceExample_gsl
test/t04_bimodal/BimodalExample_gsl
test/t04_bimodal/outputData/
test/test_uqEnvironment
test/test_uqEnvironmentCopy
test/test_uqEnvironmentEquals
test/test_uqEnvironmentNonFatal
test/test_uqEnvironmentOptionsPrint
test/test_uqGaussianVectorRVClass
test/test_uqGslMatrix
test/test_uqGslMatrixConstructorFatal
test/test_uqGslVector
test/test_uqGslVectorConstructorFatal
test/test_uqTeuchosVector
test/chain0
test/outputData
test/test_Environment/copy_env
test/test_DistArrayCopy
test/test_DistArrayCtor
test/test_DistArrayEquals
test/test_DistArrayMisc
test/test_GslVectorSpaceCtor
test/test_GslVectorSpaceMisc
test/test_IntersectionSubsetContains
test/test_inf_gaussian
test/test_inf_options
test/test_infinite/inf_options
test/test_operator
test/test_uqexception
test/test_SequenceOfVectorsErase
test/test_gpmsa_cobra
test/test_gpmsa_cobra_output
