*.lo
*.o
.deps
.libs
*.gcda
*.gcno
*~
*.log
*.trs
*.dirstamp
*.aux
queso-*tar.gz

Makefile.in
Makefile
!manual/Makefile
manual/mixed_effects/*.pdf
manual/mixed_effects/*.aux
libtool
sl6-config
stamp-h1
aclocal.m4
aminclude.am
autom4te.cache
build-aux
.license.stamp
queso.pc
queso-deps.pc
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

_configs.sed
config.log
config.status
config_queso.h
config_queso.h.tmp
config_queso.h.tmp.in
config_queso.h.tmp.in~
configure

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

doxygen/txt_common/about_vpath.page
doxygen/queso.dox
docs
manual/users/figs
manual/users/make_all_failed
manual/users/users.bbl
manual/users/users.blg
manual/users/users.out
manual/users/users.toc
manual/users/QUESO_users_manual.pdf

examples/exInfoTheory_gsl
examples/exSimpleStatisticalInverseProblem_gsl
examples/exStatisticalForwardProblem_gsl
examples/exStatisticalInverseProblem_gsl
examples/exTgaValidationCycle_gsl
examples/gravity_gsl
examples/tga2_gsl
examples/gaussian_random_field
examples/gaussian_random_field_genmesh
examples/infinite_dim/inverse_options
examples/infinite_dim/parallel_inverse_options
examples/inverse_problem
examples/operator
examples/parallel_inverse_problem
examples/gpmsa_scalar
examples/bimodal_gsl
examples/exSimpleStatisticalForwardProblem_gsl
examples/gp/scalar/outputData
examples/gpscalar
examples/gpscalar2
examples/hysteretic_gsl
examples/outputData
examples/template_eg
examples/template_example/outputData
examples/template_example/template_example
examples/scalarCovariance
examples/diagonalCovariance
examples/fullCovariance
examples/blockDiagonalCovariance
examples/fullCovarianceRandomCoefficient
examples/blockDiagonalCovarianceRandomCoefficients
examples/4d_interp
examples/4d_interp_read
examples/example_SharedPtr

src/core/inc/queso.h
src/libqueso.la
src/queso_version

inc/queso/*.h

test/gsl_tests/get_min_max_vec
test/gsl_tests/get_set_row_column
test/gsl_tests/input
test/gsl_tests/inverse_power_method
test/gsl_tests/multiple_rhs_matrix_solve
test/gsl_tests/outputData/
test/gsl_tests/power_method
test/gslvector_out_sub0.m
test/t01_valid_cycle/TgaValidationCycle_gsl
test/t01_valid_cycle/outputData/
test/t02_sip_sfp/SipSfpExample_gsl
test/t02_sip_sfp/outputData/
test/t03_sequence/SequenceExample_gsl
test/t04_bimodal/BimodalExample_gsl
test/t04_bimodal/outputData/
test/test_uqEnvironment
test/test_uqEnvironmentCopy
test/test_uqEnvironmentEquals
test/test_uqEnvironmentNonFatal
test/test_uqGaussianVectorRVClass
test/test_uqGslMatrix
test/test_uqGslMatrixConstructorFatal
test/test_uqGslVector
test/test_uqGslVectorConstructorFatal
test/test_uqTeuchosVector
test/chain0
test/outputData
test/test_Environment/copy_env
test/test_DistArrayCopy
test/test_DistArrayCtor
test/test_DistArrayEquals
test/test_DistArrayMisc
test/test_GslVectorSpaceCtor
test/test_GslVectorSpaceMisc
test/test_IntersectionSubsetContains
test/test_inf_gaussian
test/test_inf_options
test/test_infinite/inf_options
test/test_operator
test/test_uqexception
test/test_SequenceOfVectorsErase
test/test_gpmsa_cobra
test/test_LlhdTargetOutput
test/test_StatisticalInverseProblem/both_input.txt
test/test_StatisticalInverseProblem/llhdout_input.txt
test/test_StatisticalInverseProblem/neither_input.txt
test/test_StatisticalInverseProblem/targetout_input.txt
test/test_StatisticalInverseProblem/test_LlhdTargetOutput.sh
test/test_outputBoth/
test/test_outputLlhd/
test/test_outputNeither/
test/test_outputTarget/
test/test_Regression/jeffreys_input.txt
test/test_Regression/test_jeffreys_samples.m
test/test_Regression/test_jeffreys_samples.diff.sh
test/test_jeffreys
test/test_gsloptimizer
test/test_seedwithmap
test/test_seedwithmap_fd
test/test_GammaVectorRVDomain
test/test_GaussianMean1DRegression
test/test_Regression/GaussianMean1DRegression_options
test/test_Regression/ctf_dat.txt
test/test_Regression/dakota_pstudy.dat
test/test_Regression/gpmsa_cobra_input.txt
test/test_Regression/test_cobra_samples_diff.sh
test/test_Regression/test_gpmsa_cobra_samples.m
test/test_Regression/adaptedcov_input.txt
test/test_Regression/test_jeffreys_samples_diff.sh
test/test_adaptedcov_output/
test/test_gpmsa_cobra_output/
test/test_logitadaptedcov
test/test_scalarCovariance
test/test_diagonalCovariance
test/test_fullCovariance
test/test_blockDiagonalCovariance
test/test_output_gaussian_likelihoods
test/test_gaussian_likelihoods/queso_input.txt
test/test_GslBlockMatrixInvertMultiply
test/test_SequenceOfVectors/test_unifiedPositionsOfMaximum.sh
test/test_unifiedPositionsOfMaximum
test/test_VectorPdf_gsl
test/test_VectorRV_gsl
test/test_VectorRealizer_gsl
test/test_fullCovarianceRandomCoefficient
test/test_blockDiagonalCovarianceRandomCoefficients
test/test_gaussian_likelihoods/gaussian_consistency_input.txt
test/test_fullCovarianceChain
test/test_diagonalCovarianceChain
test/test_scalarCovarianceChain
test/test_blockDiagonalCovarianceChain
test/test_BoostInputOptionsParser
test/test_InputOptionsParser/test_options_good.txt
test/test_InputOptionsParser/test_options_bad.txt
test/test_InputOptionsParser/test_options_default.txt
test/test_NoInputFile
test/test_InterpolationSurrogate/queso_input.txt
test/test_output_interp_surrogates
test/test_write_InterpolationSurrogateBuilder.dat
test/test_outputNoInputFile
test/test_1D_LinearLagrangeInterpolationSurrogate
test/test_2D_LinearLagrangeInterpolationSurrogate
test/test_3D_LinearLagrangeInterpolationSurrogate
test/test_4D_LinearLagrangeInterpolationSurrogate
test/test_InterpolationSurrogateHelper
test/test_build_InterpolationSurrogateBuilder
test/test_write_InterpolationSurrogateBuilder_1.dat
test/test_write_InterpolationSurrogateBuilder_2.dat
test/output_test_optimizer_options
test/test_optimizer/input_test_optimizer_options
test/test_optimizer_options
test/test_SharedPtr
